body {
	background-color: #000000;
}

.containers img {
	
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	float: auto;
}

.container {
	font-family:'PT Sans', Arial, sans-serif;
	font-size: 40px;
	letter-spacing: -0.03125em;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	text-align: left;
	padding: 8px 92px 8px 92px;
	margin-top: 2px;

}
.container:hover {
	color: purple;
}



/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
nav {
	height: 40px;
	width: 100%;
	background: purple;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 960px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: pink;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid violet;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: violet;
}
nav a#pull {
	display: none;
}


.content1 h1 {
	float: left;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 25px;
	margin-left: 50px;
	margin-right: 50px;
	color: purple;
	margin-bottom: 20px;
}
.content1 p {
	float: left;
	font-family: calibri;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	color: violet;
}
.content2 h1 {
	float: left;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 25px;
	margin-left: 50px;
	margin-right: 50px;
	color: purple;
	margin-bottom: 20px;
}
.content2 p {
	float: left;
	font-family: calibri;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	color: violet;
}

.content3 h1 {
	float: left;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 25px;
	margin-left: 50px;
	margin-right: 50px;
	color: purple;
	margin-bottom: 20px;
}
.content3 p {
	float: left;
	font-family: calibri;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	color: violet;
}



.footer p {
	font-size: 12px;
	font-family: 'PT Sans', Arial, sans-serif;
	color: black;
	width: 300px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 50px;
	background-color: #ff66cc;
}













/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid pink;
		border-right: 1px solid pink;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: purple;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid pink;
	}
}


@media (max-width: 768px) { 
	.container {
		background-color: #ff99cc;
		width: auto;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.container {
		background-color: purple;
		width: 90%;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		background-color: pink;
		width: 82.0512%;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		background-color: violet ;
		width: 1170px;
	}
}




@media (max-width: 768px) { 
	.containers img {
		width: 100%;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.containers img {
		width: 100%;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.containers img {
		width: 100%;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.containers img {
		width: 100%;
	}
}
